<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.1/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
	var socket = io();

    	socket.on('env_response', function(data){
		document.getElementById("env_resp").value = JSON.stringify(data)
	});

	function send_action(e) {
	  // Send keypress to socketio backend
	  var keynum;

	  if(window.event) { // IE                  
	    keynum = e.keyCode;
	  } else if(e.which){ // Netscape/Firefox/Opera                 
	    keynum = e.which;
	  }
	  socket.emit('action_input', {data: keynum});
	  return false;
	}

    </script>
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
    <h1>Video Streaming Demonstration</h1>
    <img src="{{ url_for('video_feed') }}">
    <br>   
    Move: W,A,S,D <br>
    Look: E,Q <br>
    Stop: Spacebar <br>
    <label for="action">User Action</label>
    <input type="text" id="action" name="action" onkeypress="return send_action(event)" />
    <br>
    <label for="env_resp">Simulator Response</label>
    <input type="text" id="env_resp" name="env_resp" />
  </body>
</html>
